/* FONTS */

@import url(https://fonts.googleapis.com/css?family=Droid+Serif);

/* GENERAL PAGE RULES */

body {
	color:#222;
	font-family:'Droid Serif', serif;
}

.container {
	margin-top: 4rem;
}

/* NAVBAR */

#navbar {
	margin: 10px 0 0 0;
	text-align:right;
}

#navbar ul li {
	display: inline;
	margin: 0 20px 0 0;
	margin-bottom: 130px;
}

#navbar a {
	text-decoration: none;
	color:#222;
}

#navbar a:hover {
	text-decoration: underline;
}

/* HEADER */

#logo {
	height:3rem;
	margin-top:-1rem;
}

/* PAGE STUFF */

.sec {

}

.sec h4 {
	text-align:center;
	border-radius:0.5rem;
	width: 22rem;
	margin: 0 auto;
	background-color:#222;
	color:white;
	margin-bottom:2rem;
}

.sec p {
	width: 80%;
	margin: 0 auto;
	margin-bottom:4rem;
}